<a href="/teams">Teams</a> &emsp; <a href="/conferences">Conferences</a>
<h1>Conferences</h1>
<% @conferences.each do |conference| %>
  <p><span style="font-size: 26px"><%= conference.name %></span>&emsp;&emsp; Created: <%= conference.created_at %></p>
<% end %>
<a href="/conferences/new">New Conference</a>